<div class="w-25 p-1 mb-3 input">
  <%= @input %>

  <p>- You</p>
</div>

<div class="w-25 p-1 mb-3 coach">
  <%= @coach_answer %>

  <p>- Your Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>

